<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrH">
        <activity android:name=".datosContacto"></activity>
        <activity android:name=".tablaDesparacitaciones" />
        <activity android:name=".tablaVacunas" />
        <activity android:name=".tablaMascota" />
        <activity android:name=".tablaRegistros" />
        <activity android:name=".buscarDesp" />
        <activity android:name=".buscarVacuna" />
        <activity android:name=".buscar_mascota" />
        <activity android:name=".buscarUsuario" />
        <activity
            android:name=".admin2"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".administrador" />
        <activity android:name=".primerActivity" />
        <activity android:name=".crearUsuario" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>